<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forme</title>
    <link rel="stylesheet" href="/css/evenement.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
  
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg bg-primary"  data-bs-theme="dark">
                    <!-- Navbar content -->
                    <div >
                        <a class="navbar-brand" href="#" style="border-bottom: 2px solid white;">Ministère de l'Économie et des Finances</a>
                        <h3 style="color: yellow;">L'Agenda du Ministre  <i class="bi bi-book"></i></h3>
                    </div>
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <a class="nav-link active" aria-current="page" href="/formAgenda">Ajouter un évènement</a>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/listeEvenement">Liste des évènements</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/listUser">Nouveau utilisateur</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" onclick="ouvrirModal()" >Exporter</a>
                            </li>
                            
                            
                          </ul>
                            <div class="d-flex" >
                        
                                <div class="menu">
                                    <a class="nav-link" href="">Bienvenu [[${prenom}]]</a>
                                    <div class="menu-content">
                                        
                                        <a class="nav-link " href="" >
                                            <form action="" method="post">
                                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                            <input type="hidden" name="username" th:value="${username}">
                                            <button type="submit" formaction="/user/formModifierPassword" style="background-color: rgb(65, 65, 244); border: none;">Modifier mot de passe</button>
                                            </form>
                                        </a>
                                        <a class="nav-link " href="/login" >Deconnexion</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
            
                </nav>
            </header>

                <div>
                    <div th:if="${not #lists.isEmpty(evenements)}">
                        <p><a href="/formAgenda">Ajouter un evènement</a></p>
                        <!-- <p>Liste des evenements</p> -->
                        <div th:if="${modalVisible!=null}">
                            <span th:text="${modalVisible}">false</span>
                        </div>
                            <!-- <button onclick="ouvrirModal()" id="export">Exporter</button> -->
                        <div class="input-group">
                            <form action="">
                                <button formaction="/listeEvenement" style="background-color: blue;color: white; border: none;">Tous</button>
                                <button formaction="/user/evenement/planifer">Planifiés</button>
                                <button formaction="/user/evenement/reporter">Reportés</button>
                                <button formaction="/user/evenement/annuler">Annulés</button>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Format</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Heure</th>
                                        <th scope="col">Institutions</th>
                                        <th scope="col">Objectifs</th>
                                        <th scope="col">Statut</th>
                                        <th scope="col">Nouvelle date</th>
                                        <th scope="col">Suivis</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="evenement:${evenements}">
                                        <td th:text="${evenement.date}"></td>
                                        <td th:text="${evenement.format}"></td>
                                        <td th:text="${evenement.type}"></td>
                                        <td th:text="${evenement.heure}"></td>
                                        <td th:text="${evenement.institution}"></td>
                                        <td th:text="${evenement.objectif}"></td>
                                        <td th:text="${evenement.statut}"></td>
                                        <td th:text="${evenement.nouvelleDate}"></td>
                                        <td th:text="${evenement.suivis}"></td>
                                        <td class="input-group1">
                                            <form action="" method="post">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input type="hidden" name="id" th:value="${evenement.id}">
                                                <button formaction="/user/annulerEvenement">Annuler</button>
                                            </form>
                                           <form action="">
                                                <input type="hidden" name="id" th:value="${evenement.id}">
                                                <button formaction="/rechercherEvenement" >Reprogrammer</button>
                                           </form>
                                        </td>
                                        <td th:if="${evenement.statut == 'Terminé'}">
                                            
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked disabled>
                                            </div>
                                        </td>
                                        <td th:if="${evenement.statut == 'Planifié'}">
                                            <form action="/user/terminerEvenement" method="post">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input type="hidden" name="id" th:value="${evenement.id}">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" name="statut"  th:value="'Terminé'" th:onchange="'this.form.submit()'" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                                </div>
                                            </form>
                                        </td>
                                        <td th:if="${evenement.statut == 'Reporté'}">
                                            <form action="/user/terminerEvenement" method="post">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input type="hidden" name="id" th:value="${evenement.id}">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" name="statut" th:value="'Terminé'" th:onchange="'this.form.submit()'" type="checkbox" role="switch" id="flexSwitchCheckChecked2">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
            
                            <!-- <form action="">
                                <button type="submit" formaction="/formAgenda" class="btn">Ajouter</button>
                            </form> -->
                        </div>
                    </div>
        
                    <div th:if="${#lists.isEmpty(evenements)}">
                        <p>Aucun evènement<a href="/formAgenda">Ajouter evènement</a></p>
        
                    </div>
                </div>

                <footer style="text-align: center;background-color: red; color: whitesmoke;">
                    <p> © 2024 Ministère de l'Économie et des Finances</p>
                </footer>
            </div>

            

        


    <!-- Modal -->

    <div class="modal" tabindex="-1"  id="id-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Choisissez le format de fichier</h5>
              <button onclick="fermetureModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal-artist1"></button>
            </div>
            <form method="get" target="_blank">
                <div class="modal-footer">
                    <button type="submit" formaction="/user/generatPdf" class="btn btn-secondary">PDF</button>
                    <button type="submit" formaction="/user/generatCsv" class="btn btn-primary">CSV</button>
                </div>
            </form>
          </div>
        </div>
      </div>
  
      <!-- End Modal -->

      <!-- Modal Terminé Evenement-->

    <div th:if="${modalVisible!=null}" class="modal fade show"  tabindex="-1" style="background: rgba(0, 0, 0, 0.5);display: block;"  id="id-modal-terminierEvenevent">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header d-flex">
              <h5 class="modal-title">Avertissement!!!</h5>
              <form action="" method="post" style="margin-left: auto;">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <button onclick="fermetureModalTerminerEvenement()" formaction="/annuler"   class="ms-auto btn-close " data-bs-dismiss="modal" aria-label="Close" id="close-modal-artist1"></button>
              </form>
            </div>
            <div class="modal-body">
                <p>Vous venez d'activer le champ Terminer réunion.Remplissez le champ suivis pour contitinuer.</p>
            </div>
            <form method="post" >
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="hidden" name="id" id="id" th:value="${evenementId}">
                    <textarea name="suivis" id="" placeholder="Suivis" required></textarea >
                    <button formaction="/user/validerTerminerEvenement" class="btn btn-secondary">Continuer</button>
                    <button onclick="fermetureModalTerminerEvenement()" formaction="/annuler" class="btn btn-primary">Annuler</button>
                </div>
            </form>
          </div>
        </div>
      </div>
  
      <!-- End Modal Terminé Evenement-->


      <!-- Modal Modifier-->

    <div th:if="${evenement!=null}">
        <div class="modal" tabindex="-1"  id="id-modal-modifier">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Choisissez le format de fichier</h5>
                  <button onclick="fermetureModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal-artist1"></button>
                </div>
                
              </div>
            </div>
          </div>
    </div>
  
      <!-- End Modal Modifier-->

      <script>
        function ouvrirPdfDansUneNouvellePage(){
            window.open('/admin/generatPdf','_blank');
        }

        function ouvrirModal(){
            const modal=document.getElementById("id-modal");
            modal.style.display="flex";
        }

        function fermetureModal(){
            const modal=document.getElementById("id-modal");
            modal.style.display="none";
        }

        function ouvrirModalModifier(){
            const modal=document.getElementById("id-modal-Modifier");
            modal.style.display="flex";
        }

        function fermetureModalModifier(){
            const modal=document.getElementById("id-modal-modifier");
            modal.style.display="none";
        }

        function fermetureModalTerminerEvenement(){
            const modal=document.getElementById("id-modal-terminierEvenevent");
            modal.style.display="none";
        }
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/formAgenda.js"></script>
</body>
</html>